{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
    label: "Subfolder"|t('cloud'),
    instructions: "Where assets should be stored on the filesystem."|t('cloud'),
    id: 'subfolder',
    class: 'ltr',
    name: 'subfolder',
    suggestEnvVars: true,
    value: fs.subfolder,
    errors: fs.getErrors('subfolder'),
    placeholder: "path/to/subfolder"|t('cloud')
}) }}

<hr />

{% set cacheDurationInput %}
    {% set expires = fs.expires ? fs.expires|split(' ') : null %}

    <div class="flex">
        <div>
            {{ forms.text({
                id: 'expiresAmount',
                value: expires[0] ?? null,
                size: 2,
                class: 's3-expires-amount',
                name: 'expires[amount]',
            }) }}
        </div>
        {{ forms.select({
            id: 'expiresPeriod',
            options: periods,
            value: expires[1] ?? null,
            class: 's3-expires-period',
            name: 'expires[period]',
        }) }}
    </div>

{% endset %}

{{ forms.field({
    label: "Cache Duration"|t,
    instructions: "The Cache-Control duration set on assets in this filesystem.",
    id: 'cacheDuration',
}, cacheDurationInput) }}
